@import './_skeleton.scss';

* {
  font-family: 'Roboto', sans-serif;
}
.navbar-items {
  border-bottom: 2px solid black;
  ul {
    padding: 0;
  }
  li {
    display: inline;
    font-size: 13px;
    list-style-type: none;
    margin-left: 30px;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    &:hover {
      color: white;
    }
  }
  @media (max-width: 500px) {
    padding: 10px 0;
    li {
      padding: 10px 0;
      display: block;
      margin-left: 0;
    }
  }
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 480px;
  height: 500px;
  padding: 10px;
  cursor: pointer;
}

.video-title {
  max-width: 480px;
  font-size: 200%;
}

#description {
  font-weight: 800;
  font-size: 120%;
}

.price {
  color: green;
  span {
    color: black;
  }
}

.contains-loginForm, .contains-registerForm {
  background-color: rgba(50, 50, 50, 0.2);
  display: flex;
  height: 350px;
  width: 300px;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 100px;
  button {
    margin-top: 5px;
    color: white;
    outline: none;
    border-radius: 20px;
    background: black;
    border: 1px solid black;
    font-size: 12px;
    cursor: pointer;
    align-self: center;
    width: 40%;
  }
  .registerInput {
    width: 75%;
    outline: none;
    border-radius: 20px;
    height: 25px;
    border: 3px solid black;
    font-size: 12px;
    padding-left: 10px;
    margin: 10px;
  }
  p {
    text-align: center;
    padding-bottom: 7px;
    a {
      text-decoration: none;
      color: black;
    }
    a:hover {
      text-decoration: underline;
      color: black;

    }
  }
  .loginForm, .registerForm {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .loginFormInput, {
      width: 75%;
      outline: none;
      border-radius: 20px;
      height: 25px;
      border: 3px solid black;
      font-size: 12px;
      padding-left: 10px;
      margin: 12px;

    }
  }
}

.contains-loginForm {
  height: 250px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .inputSearch {
    width: 60%;
    outline: none;
    border-radius: 20px;
    height: 25px;
    border: 3px solid black;
    font-size: 12px;
    padding-left: 10px;
    margin: 4px;
  }
  button {
    display: none;
  }
}

.searching {
  display: flex;
  margin-top: 40px;
  width: 50%;
  min-width: 306px;
  justify-content: center;
}

.buyButton {
  background-color: green;
  color: black;
  border: none;
  margin: 4px;
}
.sellButton {
  background-color: #fc433e;
  color: black;
  border: none;
  margin: 4px;
}

.profit-loss-profit {
  color: green;
}
.profit-loss-loss {
  color: red;
}

.video-link {
  color: #1EAEDB;
  text-decoration: underline;
  cursor: pointer;
}

.video-link:hover {
     text-decoration:none;
     text-shadow: 0.1px 0.1px 0.1px #0FA0CE;
}

.buttons-and-error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.error-message {
  display: flex;
  justify-content: center;
  p {
    color: red;
  }
}

.video-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-frame {
  padding: 20px;
}

.video-heading {
  margin-top: 40px;
}

.description-box {
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.desc-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top-head {
  margin-top: 20px;
}

.buy-color {
  color: green;
}

.sell-color {
  color: red;
}

.submit-login {
  display: flex;
  justify-content: center;
  align-items: center;
}
